@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

body {
    font-family: 'Climate Crisis', cursive;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main {
    position: relative;
}

#drums {
    width: 700px;
}

#stick {
    position: absolute;
    width: 80px;
    cursor: grab;
    transition: 0.1s;
}